
.App { background-color: #FFF4F0; }
@media (prefers-reduced-motion: no-preference) {}
.app-inner-grid{
  padding: 93px 0 0 0;
  width: 1360px;
  margin: 0 auto;
}
.App-header {
  min-width: 100%;
  height: 37px;
  display: inline-flex;
  display:-webkit-inline-flex;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: #000;
}
.service-introduce::before{
  content: "";
  display: inline-flex;
  padding: 11px 14px;
  margin-right: 5px;
  background: url(./assets/images/icon-asomein-logo.png)no-repeat;
}
.service-introduce{
  width: 160px;
  padding: 8px 20px;
  display: flex;
  font-size: 15px;
  color: #FF557D;
  border-radius: 30px;
  background-color: rgba(255, 85, 125, 0.1);
}

/* 로그인,장바구니,회원가입 */
.header-menu-list{
  margin-left: 66.5%;
  display: flex; 
  justify-items: center;
  align-items: center;
}
.header-menu-list a{
  display: inline-flex;
  color: black;
  font-size: 15px;
}
.header-menu-list a:nth-child(1){
  width: 55px;
  padding: 0 3px 0 24px;
  background: url(./assets/images/icon-login.png) no-repeat;
}
.header-menu-list a:nth-child(2){
  padding: 0 4px 0 22px;
  width: 66px;
  background: url(./assets/images/icon-joinus.png) no-repeat;}
.header-menu-list a:nth-child(3){
  width: 60px;
  padding: 0 0 0 22px;
  background: url(./assets/images/icon-shoppingCart.png)no-repeat;
}

/*Top Logo section*/
.top-contents{ 
  min-width: 100%; 
  height: 272px;
}
.big-logo-img{
  width: 445px;
  height: 185px;
  margin: 36px auto;
  background: url(./assets/images/main-Logo.png)no-repeat;
}
.logo-text-style{border-top: 5px solid #000; height: 16px;}
.top-contents .logo-text-style li{
  display: inline-block;
  padding: 12px 0;
  color: #000;
}
.logo-text-style li:nth-child(1){font-size: 16px; letter-spacing: 2px;}
.logo-text-style li:nth-child(2){font-size: 18px; text-align: center; letter-spacing: 2px; width: 70%;}
.logo-text-style li:nth-child(3){font-size: 16px; letter-spacing: 2px;}

.swiper-empty-img{
  min-width: 100%;
  min-height: 500px;
  background: url(./assets/images/slide-img01.png) no-repeat;}

.container-list{
  width: 100%;
}
.list-top-area{
  min-width: 100%;
  display: inline-flex;
  height: 226px;
}
.list-top-area ul{
  max-width: 410px;
  min-height: 70%;
  padding-top: 50px ;
  font-weight: 600;
  border: 1px solid green;
}
.list-3d-menu li{ display: inline; padding: 40px; border: 1px solid red; }
.list-3d-menu li:nth-child(1){ background: url(./assets/images/icon-3D-menu.png) no-repeat;}
.list-3d-menu li:nth-child(2){ background: url(./assets/images/icon-3D-home.png) no-repeat; padding:40px 17px;}
.list-3d-menu li:nth-child(3){ background: url(./assets/images/icon-3D-finance.png) no-repeat; padding:40px 17px;}
/* about Search Box */
.search-inner-box{
  min-width: 40%;
  border: 1px solid red;
  display: inline-flex;
}
.bbs-list-search{
  display: inline-flex;
  justify-items: center;
  width: 390px;
  height: 45px;
}
.bbs-list-search input{
  padding: 10px 55px;
  background-color: transparent;
  border-color: #231815;
}
.seachBtn{
  width: 45px;
  height: 45px;
  border: 1px solid #231815;
  padding: 10px;
  background: url(./assets/images/icon-search-main.png)9px 10px no-repeat;/*icon-location*/
}
/*table notice*/
.table-contents{
  width: 100%;
  border: 1px solid red;
}
table{
  min-width: 100%;
  border-collapse: collapse;
}
td{ width: 25%; height: 340px; border: 1px solid #231815;  }

/*user comment and interview section*/
.contents-interview{
  min-width: 100%;
  border: 1px solid red;
}
.interview-title{ display: inline-flex; align-items: center; }
.icon-interview{ padding: 40px 25px; background: url(./assets/images/icon-interview.png) no-repeat; }
.interview-title p{ font-size: 41px; font-weight: 400; margin-left: 20px;}
.comments-box{
  min-width: 100%;
  border: 1px solid red;
}
.comments-box ul {display: flex; padding: 0;}
.comments-box ul li{
  width: 30%; /*410px*/
  height: 462px;
  border: 1px solid #231815;
  background-color: #FFF4F0;
}
.comments-box ul li:nth-child(2)::before{
  margin: 0 auto;
  /* background: url(./assets/images/); */
}
.comments-box ul li:nth-child(2){margin: 0 50px;}
.comments-box ul li:hover{
  box-shadow: 6px 6px 4px rgba(255, 85, 125, 0.9);
}
.right-content-top-bbs{
  display: inline-grid;
  border: 1px solid red;
}
.right-content-top-bbs a{
  padding: 23px 24px;
  font-size: 20px;
  background: url(./assets/images/icons-subscribe.png)no-repeat;
}
 