
.pages-header-logo{
    margin: 15px 0;
    padding: 19px 54px;
    background: url(../images/asomein-Logo02.png)no-repeat;
}
/* middle-nav */
.header-middle-menu-section{
  min-width: 50%;
  display: flex;
  margin: 0 11.8%;
}
.header-middle-menu-section a{ padding: 0 75px; color: #000;}
.header-middle-menu-section a:hover{ color: #FF557D; }

/* 로그인,장바구니,회원가입 */
.header-menu-list{
    /* margin-left: 46.5%; 수정할것!*/
    display: flex; 
    justify-items: center;
    align-items: center;
  }
  .header-menu-list a{
    display: inline-flex;
    color: black;
    font-size: 15px;
  }
  .header-menu-list a:nth-child(1){ width: 55px; padding: 0 3px 0 24px; background: url(../images/icon-login.png) no-repeat;}
  .header-menu-list a:nth-child(2){ padding: 0 4px 0 22px; width: 66px; background: url(../images/icon-joinus.png) no-repeat;}
  .header-menu-list a:nth-child(3){ width: 60px; padding: 0 0 0 22px; background: url(../images/icon-shoppingCart.png)no-repeat;}

/* navigation - 서브페이지 및 해더바로 아래 메뉴 */
.header__navi__wrap { width: 100%; display: inline-flex; align-items: center; padding-bottom: 40px; }
nav{ display: inline-block; max-width: 100%; }
nav ul{ display:flex; height: 50px;}
nav ul li{ 
  display: inline;
  width: 200px;
  padding: 12px 0;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  border: 1px solid #231815;
}
nav ul li:hover{
  transition: all 0.6s ease-in-out;
  transform: translateY(-10px);
  color: #FFF4F0;
  cursor: pointer;
  background-color: #FF557D;
}

/* 로그인페이지 */
.login-section{
  width: 100%;
  height: 1080px;
}
.line-title{
  min-width: 100%;
  background-color: #FF557D;
  color: #fff;
  text-align: center;
  font-size: 19px;
  padding: 15px 0;
}
.login-form-sect{
  width: 370px;
  height: 440px;
  margin: 50px auto;
}
/* Main-Login FormBox section */
.check-icon{ padding: 0 9px; background: url(../images/icon-check.png)no-repeat; }
.Login-form-box{
  min-width: 100%;
  display: block;
}
.user-join{min-width: 100%; height: 50px; margin-top: 15px;}
.user-join label{ font-size: 17px; }
.user-join input{ 
  display: block;
  min-width: 95%;
  height: 30px;
  margin-left: 17px; 
  border:none;
  border-bottom: 1px solid #858480; 
  background-color: transparent; 
}
.cellphone-number{ min-width: 94%; margin-left: 19px; }
.cellphone-number input{ margin-left: 0; }

/* 비밀번호잃어버렸을때 스타일 */
.find-in-pw{
  width: 31%;
  margin-top: 23px;
  margin-left: 15px;
  height: 19px;
  border-bottom: 1px solid #999892;
}
.find-in-pw a{ font-size: 10px; padding:30px 0; color: #000;}
.user-join input::placeholder{color: #999892;}
.user-join input::-webkit-input-placeholder{color: #999892;}
.user-join input::-ms-input-placeholder{color: #999892;}

/* 어떤페이지인지 보여주는 section */
.show-page-line-styled{ 
  min-width: 95%; 
  margin-left: 17px; 
  display: inline-flex; 
}
.show-page-line-styled p{ width: 100%; padding: 13px 0;font-size: 14px; }
.show-page-line-styled p:nth-child(1){ border-bottom: 5px solid #FF557D; }
.show-page-line-styled p:nth-child(2){ font-size: 13px; height: 20px; border-bottom: 1px solid #FF557D; }

/* 약관동의, 마케팅수신동의 */
.terms{ width: 370px; margin: 0 auto;}
.terms__wrap{ min-width: 100%; }
.termd__title{ border-bottom: 1px solid #999892; height: 30px; margin: 17px 0;}
.termd__title p{ font-size: 17px; text-align: left; }
.terms__checkbox{ display: flex; align-items: center; }
.terms__checkbox input[type="checkbox"]{ background-color: #999892; margin-right: 5px;}
.terms__checkbox a{ font-size: 8px; text-decoration: revert; color: rgb(156, 156, 156); margin-right: 10px;}
.terms__checkbox label{ font-size: 15px; margin: 5px 0; }
.terms__checkbox .all-select {font-size: 15px; padding: 5px 0;}
/* 마케팅동의(선택) */

/* 약관동의(필수) */
.terms__subject_Required{ margin-top: 15px; }

.join-clear{
  width: 370px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 0 0;
  border: 1px solid red;
}
.complete-join-site{ display: block; margin: 20px 0; border: 1px solid red;}
.show-icon{padding: 16px 25px; background: url(../images/joinus-complete-icon.png)no-repeat; }
.user-name{ font-size: 20px; }
.join-clear button{
  width: 370px;
  height: 40px;
  border: none;
  border-radius: 19px;
  background-color: #FF557D;
  color: #fff;
  margin: 30px 0;
}

/* SNS으로 가입 */
.login-section p{ font-size: 12px; text-align: center;margin: 25px 0;}
.login-sns{
  width: 370px;
  margin: 30px auto 80px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.naver_sns_btn .thumb_sns{
  padding: 45px 38px;
  background: url(../images/icon-NAVER.png)-4px 0 no-repeat; 
}
.kakao_sns_btn .thumb_sns{ padding: 45px 38px; background: url(../images/icon-kakaotalk.png)-2px 0 no-repeat; }
.login-sns a span{ height: 20px; }
.naver_sns_btn, .kakao_sns_btn{text-align: center; font-size: 11px; color: #000;}