/* navigation - 서브페이지 및 해더바로 아래 메뉴 */

.header__navi__wrap {display: inline-flex; align-items: center; padding-bottom: 40px;}
nav{ display: inline-block; }
nav ul{ display:inline-flex; height: 50px; margin: 0 0 0 15px;}
nav ul li{ 
  display: inline;
  width: 200px;
  padding: 12px 0;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  border: 1px solid #231815;
}
/* nav ul li.active{
  cursor: pointer;
  /* display: block;
}*/
nav ul li:hover{
  transition: all 0.6s ease-in-out;
  transform: translateY(-10px);
  color: #FFF4F0;
  cursor: pointer;
  background-color: #FF557D;
}
