
.Preparing-page{ width: 100%; margin: 150px 0; }
.page-show{ max-width: 38%; margin: 50px auto;}
.preparing-image{ padding: 200px 70px; background: url(../images/image-preparing.png)no-repeat; }
.Preparing-page p{ font-size: 15px; text-align: center; }