
/* 나의문의하기 게시판(사용자가 질문했던 내용보기) */

table thead tr td{text-align: center; padding: 14px 0; border: 1px solid #231815; }
.support-tbody-list a{
	text-align: left;
	text-decoration: none;
	color: #231815;
}
.icon-lock{padding:15px; background: url();}
tbody tr:last-child{ border-bottom: 1px solid #231815; }
.support-tbody-list .subject_type,
.support-tbody-list .txt_dDay
{ text-align: center;}
tbody tr .clear{background-color: #FF557D; padding: 3px; color: #FFF4F0;font-size: 14px;}
.icon-lock{ margin: 0 8px; padding: 2px 9px; background: url(../images/icon-lock.png)no-repeat; }
.icon-answer { padding: 1px 7px; margin: 0 11px 0 30px; background: url(../images/icon-answer.png)no-repeat; }